<footer class="bg-color">
    <div class="footer-fluid">
       
    <div class="footer-container">
       
      
        <span>Developed by <a href="https://alsuhaibi96.com/">Abdulrahman Alsuhaibi</a></span>
        </div>
    <div class="icons-container-fluid">
        <div id="iconsDivId" class="col item social" style="padding-top: 10px;margin: 0px; width: 100%;">
            <a href="https://www.facebook.com/alsuhaibi96" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://www.linkedin.com/in/alsuhaibi96" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a href="https://github.com/alsuhaibi96" target="_blank"><i class="fa fa-github"></i></a>
            <a href="mailto:alsuhaibiabdulrahman@gmail.com" target="_blank"><i class="fa fa-google"></i></a>
            <a href="https://www.twitter.com/alsuhaibi96" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://wa.me/967775474720" target="_blank"><i class="fa fa-whatsapp"></i></a>
  
  
        </div>
        </div>
    </div>
    <p class="copyrights-container">Copyrights ©️ 2022</p>
  </footer>