<header class="bg-color">
    <section>
        <div  class="burger-container">
        <a id="burger" class="hamburger" href="#"><i  class="fa fa-bars"></i></a>
    </div>
        <nav class="main-nav">
        
            <img class="top-figure-1  hide-figure" src="/images/Ellipse 1.png" alt="figure">
            <button class="logo ">Alsuhaibi</button>
            <div class="nav-links-container">
                <ul class="nav-links" >
                    <li>
                        <a href="#home">Home</a>
                        
                    </li>
                        <li><a href="#about-us">About Me</a></li>
                        
                        <li><a href="#our_services">My Services</a></li> 
                     <li>   <a href="#resume">Resume</a></li>
                       <li> <a href="#contact_us">Contact Me</a> </li>
                      

                  <li>
                    <!-- <label class="switch">
                        <input id="switch-btn" onclick="changeTheme()" type="checkbox" checked>
                        <span class="slider round"></span>
                      </label> -->

                  </li>
                </ul>
            </div>

        </nav>
    </section>
</header>