<div class="setting-box bg-black" >
    <div class="toggle-setting ">
        <i class="fa fa-gear setting-i "></i>
  
    </div>
    <div class="setting-container bg-black ">
        <div class="option-box bg-black text-white">
            <img src="/images/dashboard/IMG_20210930_030036_034.JPG" alt="" class="img-fluid">
            <h4 class="text-white">عبدالرحمن الصهيبي</h4>
            <hr>
            <ul class="list-menu " >
                <li class="text-center"><a href="./home" class="text-white" >لوحة التحكم</a></li>
                <li class="text-center"><a href="./experience" class="text-white">الخبرات</a></li>
                <li class="text-center"><a href="./skills" class="text-white">المهارات</a></li>
                <li class="text-center"><a href="./qualification" class="text-white">المؤهلات</a></li>
                <li class="text-center"><a href="./courses" class="text-white">الدورات</a></li>
            </ul>
        </div>
    </div>
</div>
