<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('./partials/head.ejs');%>
</head>
<body>
  <%-include('./partials/header.ejs');%>

  <main>
    <section id="home" class="home bg-color">
        <div>
            <div class="home-container">
                <div class="introduction-paragraph-container">
                    <div style="position: relative;">
                        <img  class="middle-figure-2 hide-figure" src=" /images/Ellipse 1.png" alt="figure">

                    </div>
                    <h1 class="introduction">Hi I Am Abdulrahman </h1>

                    <p class="introduction-paragraph">
                        I am a Web Full-stack Developer
                    </p>

                    <span class="what-i-do">
                        I build web apps using a combination of modern web tools and
                        programming languages. <br>Seeking to have the skills to be 
                        one of the best developers in the world.
                    </span>
                    <div class="hire-me-container" >
<a class="hire-me anchor"  href="https://wa.me/+967775474720" >
HIRE ME

</a>
                    </div>
      
                </div>
           
              

            
                <img id="myprofileImage" class="my-profile-image Profile-animation " src=" /images/sss2blackpng.png" alt="My photo" height="auto" >
               
                <div style="position: relative;">
                    <img class="middle-figure-0  hide-figure" src=" /images/Ellipse 1.png" alt="figure">
                    <img class="middle-figure-1  hide-figure" src=" /images/Ellipse 1.png" alt="figure">

                </div>
            </div>
            <div  style="position: relative; " >
                <img class="middle-figure-3 hide-figure" src=" /images/Ellipse 1.png" alt="figure">

    </section>
    <section id="about-us">
        <div style="padding-top: 100px;">
            <!-- <div style="padding: 20px; width: 480px;margin: auto;border-radius: 10px;">
            </div> -->
                <h2 style="text-align: center;">My Programming Skills</h2>
          
            <div class="skills-expeirence">
                <div class="skills">
                    <div class="skills1">

                        <a>Laravel</a>
                        <img class="skills-img" src=" /images/Layer 70.png" alt="laravel figure">
                        <a>  HTML & CSS</a>
                        <img class="skills-img" src=" /images/Layer 90.png" alt="html css figure">
                    </div>
                    <div class="skills2">

                        <a>JS & PHP</a>
                        <img class="skills-img" src=" /images/Layer 70.png" alt="JS php figure">
                        <a>Bootstrap & tailwind</a>
                        <img class="skills-img" src=" /images/Layer 852.png" alt="Bootstrap tailwind figure">
                    </div>
                </div>

                <div class="skills-mobile">
                    <div class="skills-mobile1">

                        <a>Flutter</a>
                        <img src=" /images/Layer 75.png" alt="laravel figure">
                        <a>Dart</a>
                        <img src=" /images/Layer 852.png" alt="html css figure">
                    </div>
                    <div class="skills-mobile2">

                        <a>Andriod</a>
                        <img src=" /images/Layer 70.png" alt="JS php figure">
                        <a>Java & XML</a>
                        <img src=" /images/Layer 70.png" alt="Bootstrap tailwind figure">
                    </div>
                </div>


            </div>
      
        </div>

        <div class="expeirence bg-color" id="expeirenceId">
            <h2 style="text-align: center;">My expeirence</h2>

            <p class="experince-paragraph">
                I have an intesive expeirence in web development and software analysis .
                I also Worked as a leader and lead teams and other indiviuals during the development process.
            </p>
            <div class="resume-container"id="resume" >
                <a class="resume anchor"  href=" /C.Vs/A.Alsuhaibi-M-W-developer-en-CV-11-11.pdf" download="A.Alsuhaibi-M-W-developer-en-CV-11-11" target="_blank">
                    Download C.V
                
                </a>
                                        </div>
        </div>
       
    </section>


    <section id="our_services">
        <div class="services-container">
            <div class="services-navs-container">
                <ul class="services-navs">
                    <li><a href="all-services" class="all-services-caption">All Services</a></li>
                    <li>
                        <a href="mobile-services" >Mobile </a>
                    </li>
                    <li>
                        <a href="web-services">Web </a>
                    </li>
                    <li><a href="previous-work">Previous Work</a></li>

                </ul>


            </div>


            <div id="all-services" class="all-services">
                <div >
                    <div id="img_container" >
                    <img id="myImage" class="services-image" 
                        src=" /images/1000_F_121069890_mRLIMwvOSX4nUvu1N3RFAPNqc2cJcAqF.jpg "
                        alt="services">
                    </div>
                    <img class="services-image"  src=" /images/1000_F_138666990_LXwBvsgyVwjhGaGHZmBglMASNG9eE9aP.jpg" alt="services">
                </div>

                <div>

                    <img  class="services-image" src=" /images/1000_F_121417264_CORbaKLIRVP2w03wBUKDVwzioyGDtSdv.jpg" alt="services">
                    <img class="services-image"  src=" /images/1000_F_121768175_toaq5UKhg7MKKEEUuWWSGTMoi9c0WmSG.jpg" alt="services">
                </div>
                <!-- <div>

                    <img  class="services-image" src=" /images/tips-ui-ux.jpg" alt="services">
                    <img class="services-image"  src=" /images/photoshop_tutorial_21.jpg" alt="services">
                </div> -->

            </div>
          
        </div>
    </section>

</main>
<section id="contact_us" style="height: auto;">
    <div class="contact-us-container bg-color">

        <div class="form-container bg-color">
            <form name="form" onsubmit="return validateForm()" method="#" action="#" class="contact_form">
                <h1>Get In Touch</h1>
                <br>
                <div class="form-row">
                    <div class="form-group">
                        <label>Name:</label>
                        <br>
                        <input  required name="name" type="text" placeholder="Enter Your Full Name">

                    </div>
                    <div class="form-group">
                        <label>Service Type:</label>
                        <br>
                        <select required>
                            <option value="">Web Development</option>
                            <option value="">Mobile Development </option>
                            <option value="">UI - UX Design</option>

                        </select>
                    </div>
                </div>
<div class="form-row">
                <div class="form-group">
                    <label>Phone Number:</label>
                    <br>
                    <input type="tel" id="phone" name="phone" placeholder="777 *** ***"
                     pattern="[0-9]{3}[0-9]{3}[0-9]{3}" required><br>
  <small>Format: 777-***-***</small><br><br>
            </div>
            </div>
            <div class="form-row">
                <div class="form-group" style="margin-top: 10px;">
                    <label>Message:</label>
                    <br>
                    <textarea placeholder="Type a message here" cols="30" rows="10" sc>
</textarea>
                </div>
            </div>
                <br>
                <div class="submit-btn-container" style="padding:  0 15px;">
                <button class="submit-button" type="submit">Submit</button>
                </div>
            </form>
        </div>

        <div class="map-container">
           
                <iframe 
                src="https://maps.google.com/maps?width=754&amp;height=465&amp;hl=en&amp;q=sanaa+(sana%5C'a)&amp;ie=UTF8&amp;t=&amp;z=10&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
             
        </div>
    </div>
    <div class="icons-container">
     
    </div>
</section>
<hr>
<%- include('./partials/footer.ejs');%>
<%-include('./partials/importing-files.ejs');%>

</body>
</html>